.task-layout {
  display: flex;
  height: 100vh;
}
.menu {
  width: 300px;
  height: 100vh;
}
.main-content{
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

/* Header style */
.task-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 16px;
  background-color: rgb(244, 244, 244);
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #a9a9a984;
  gap: 8px;
}
.left-section {
  display: flex;
  align-items: center;
  gap: 12px;
}
.right-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Kanban style */
.kanban {
  flex: 1;
  overflow-x: auto;
  margin: 16px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  height: calc(100vh - 120px);
}
.kanban-container {
  display: flex;
  gap: 20px;
}
.kanban-column {
  flex: 0 0 320px;
  border-radius: 8px;
  min-height: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 2px solid #eee;
}
.kanban-list {
  min-height: 200px;
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.kanban-list::-webkit-scrollbar {
  width: 6px;
}
.kanban-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}
.kanban-task {
  cursor: grab;
  flex-shrink: 0;
}
.kanban-task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-body {
  margin: 5px 0;
  font-size: 13px;
}
.task-footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 8px;
}
.assignees {
  display: flex;
  gap: 4px;
}
.kanban-header {
  padding: 10px 16px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
}
.column-name {
  margin-right: 8px;
}
.task-count {
  float: right;
}
.done-task {
  text-decoration: line-through;
  color: gray;
}